body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
  font-size: 17px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

button:hover {
  cursor: pointer;
}

div.board-row button:hover {
  background-color: rgba(0, 157, 245, 0.32);
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;

  font-size: 40px;
  font-weight: bold;
  text-align: center;

  height: 100px;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.bold {
  border: 2px solid rgb(255, 111, 187);
  border-radius: 5px;
  background-color: #606060;
  color: #e8e8e8;
}